[2018-11-25 12:19] badruzeus opened #1 "Project Compatibility for Xcode 8.2.1 (10.11.6)"
Hello, nice project @syscl
Anyway, could you make it becomes compatible with Xcode8 clang?

`Failed to load project at '~/CPUTune/CPUTune.xcodeproj', incompatible project version.`

Thanks.

[2018-11-25 12:22] syscl commented on #1
Sure, yes, I will.

[2018-11-25 17:50] syscl commented on #1
@badruzeus Please try the latest the version and report back.Thanks.

[2020-04-05 07:33] #1 closed

[2020-04-24 07:45] Gymnae opened #2 "Unable to compile for proper running on Mojave"
I cloned this repository, opened the project file in xCode and pressed "Build". The kext appeared in the derived folder under build -> product -> debug.

I attempted to run it manually via kextload and by placing it into the "Other" folder of Clover kexts. The kext won't load, neither manually nor by clover

Am I missing something? I am lacking experience with xCode I have to admit.

[2020-04-24 11:09] gymnae commented on #2
Fixed it by installing the Mojave 10.14 SDK, because newer xCode version don't bring this along.

[2020-04-24 11:09] #2 closed

[2020-05-21 00:25] lincolnlemos opened #4 "Xcode compiling"
Hey guys,

Found this repository at
https://portugnole.blogspot.com/2020/05/running-macbook-without-battery-lets-go.html

I'm trying to follow the instructions but I don't know how to compile the project at Xcode.
Can someone help me with clear instructions?

I never used XCode. I tried to google it but didn't have success.

[2020-05-21 05:07] syscl commented on #4
Hey @lincolnlemos , to compile you have to do the following step:
1. Download Xcode from AppStore
2. Download the repo via command line: ```git clone https://github.com/syscl/CPUTune``` then open ```CPUTune.xcodeproj``` under the folder.
3. Click compile in the XCode ('play' icon). Then the CPUTune.kext will show on the left hand side.
![image](https://user-images.githubusercontent.com/11594858/82

[2020-05-21 11:38] lincolnlemos commented on #4
Thanks man! Looks like it worked here.

I have some extra questions:
- I didn't configure any options as you mentioned at the readme of this repository. It's ok?

- Do I need to load the CPUTune every time that I restart the MacBook?

- When I got my new battery, I need to do anything?

Best!

[2020-05-21 18:59] syscl commented on #4
@lincolnlemos

Q1: It's OK to not change anything, which by default do nothing
Q2: You don't need to once the kext is in ```/Library/Extensions```, the kext will be loaded properly per boot
Q3: You can leave it as it is or remove it if you want. The goal here is to provide user a fine granularity to control the cpu frequency, save battery life or maximum performance ...

[2020-05-22 17:58] christophe-duc commented on #4
Glad you find my how to and that it lead you here, great! If you have noticed any inconsistencies that I can correct, let me know. I wrote the How to from memory, so I hope I haven't forgot any steps.

I've just done a v2 of PROCHOT that is pending integration into the main repo.

[2020-05-22 17:59] christophe-duc commented on #4
Damn! didn't know we could put the Kext into /Library/Extensions, I've learn something again!

Thanks!

[2020-05-22 18:04] syscl commented on #4
@christophe-duc In the meantime, I think can just use ```csrutil enable --without kext``` to keep CSR enable (if I remember correctly). I have CSR enabled while the kext installed.

[2020-05-22 18:06] syscl commented on #4
@christophe-duc as PR #5 I'm happy to review and should be merged soon. I think maybe I need to do a release per major change + add a script for easy install. What do you all think?

[2020-05-22 18:12] christophe-duc commented on #4
Yes it should work, I unfortunately cannot boot in recovery without a battery as it takes forever to load if it even load... so I have mine set on disable for the moment

[2020-05-22 18:14] syscl commented on #4
@christophe-duc Maybe you can play around with SIPTune in the kext and welcome to add features that fit your needs (others must have the same requirement!) :)

The SIPTune is basically providing an easy way to control the CSR.

[2020-05-23 19:27] ngerasimatos opened #6 "CPUTune.kext/Contents/Info.plist"
If I wanted to have speedshift, turbo boost and prochost disable at boot I would modify the following? Also, can you explain what speedshift is specifically responsible for?

                        <key>AllowUnrestrictedFS</key>
                        <false/>
                        <key>CFBundleIdentifier</key>
                        <string>org.syscl.driver.CPUTune</string>

[2020-05-23 20:50] syscl commented on #6
Yes, your setting is correct. You can also disable each feature via ```echo '0' > /tmp/<feature>``` at runtime when the CPUTune is loaded.

A brief introduction of Intel SpeedShift: change the frequency (P-state) in hardware level instead o f in OS level, which leads to less overhead in frequency scaling. More detail can be seen [here](https://www.anandtech.com/show/9751/examining-intel-skylake-sp

[2020-05-24 00:34] syscl commented on #2
@Gymnae feel free to try the latest version which bring back a lot of improvements and optimization :)

[2020-05-24 09:31] syscl commented on #4
@lincolnlemos @christophe-duc feel free to test out the latest (v2.0.0) CPUTune which contains a fantastic feature to control the HWP request at runtime. I will post more detail about the HWP request later on today.

[2020-05-24 14:49] christophe-duc commented on #4
Hi seems interesting, I found this to explain a little better what the HWP hex decimal value could be:

[code]

I think it would be good to explain a little bit more what those values should be in the doc but I am not an expert.

Should we create a binary release of the kext, so it is easier for people to download?

I am also researching on my side, why I cannot enable Turboboost when the battery

[2020-05-24 16:14] syscl commented on #4
@christophe-duc Yes, I will add a doc for the hwp request.

As for binary, I think it's ready to upload one for 2.0.0.

As for the turbo boost, maybe you need to restore IOPlatformPluginFamily.kext?

One quick question, what's the advantage of disabling ProcHot? Can we not touch it by default? From the description: "Please note that this is NOT recommended and can seriously damage your mac." I'm a

[2020-05-24 16:32] christophe-duc commented on #4
So yes by default it would be nice not to touch it, I just put a standard
disclaimer so people are careful when they use it. When a mac book pro has
its battery removed the SMC set ProcHot to force a slow down of the CPU.
Apple does not allow mac books to run without battery. That’s when you need
to disable ProcHot.

On Sun, 24 May 2020 at 13:15 syscl <notifications@github.com> wrote:

[2020-05-24 17:16] syscl commented on #4
@christophe-duc By default we should enable ProcHot right (usually if they don't have battery remove)?

We can also add detection for battery exist or not in CPUTune

[2020-05-24 19:20] christophe-duc commented on #4
ProcHot is present I think only when the CPU is hot, I don't think it is activated during normal operations. But I cannot test this as I am running without battery for the moment.

[2020-05-24 20:32] syscl commented on #4
@christophe-duc Take a look at the log running from my MacBookPro with battery, no fan spining, it seems the ProcHot is enable if I understand correctly
[code]

[2020-05-24 20:33] christophe-duc commented on #4
Yes you are correct

On Sun, 24 May 2020 at 17:32 syscl <notifications@github.com> wrote:

[2020-05-24 22:05] christophe-duc commented on #4
I tried to restore but it seems that IOPlatformPluginFamily takes over the control of the CPU and even if I have CPUTune.kext running I am not able to change the MSR register (or if they changed then IOPlatformPluginFamily change them back to the original value).

For this to work without a battery, it seems we do have to delete IOPlatformPluginFamily.

[2020-05-24 22:40] syscl commented on #4
@christophe-duc  Do I understand it correctly: when IOPlatformPluginFamily is loaded, ProcHot cannot be overwritten in MSR? Because from what I've tried, I can change MSR for HWP, turbo boost ... So I'm curious about what's the problem we are seeing here.

[2020-05-24 23:29] christophe-duc commented on #4
In the case there is no battery.

On Sun, 24 May 2020 at 19:41 syscl <notifications@github.com> wrote:

[2020-05-25 14:49] christophe-duc commented on #4
@syscl what's your original MSR_IA32_HWP_REQUEST setting? before modifying it.

Without battery I have:
`CPUTune @ init: original value for MSR_IA32_HWP_REQUEST(0x774)=0x8000ff01`

it does not seem right...

[2020-05-25 15:22] nrdgnr commented on #4
Hi !

I m stuck at 800mhz  with my 2011 MBP with oem battery. Is it enought to copy your kext file into /Library/Extensions folder?

Thanks in advance!

[2020-05-25 15:27] christophe-duc commented on #4
It will start the kext automatically when loading the system. I would recommend to do a test first to see if it works and then after you have confirmed it is ok, you can put it permanently into the /Library/Extensions folder.

Check also the base CPU speed (without turbo boost) that's what you should get.

[2020-05-25 15:34] nrdgnr commented on #4
Thank you for your quick response.

Do you mean to test with the xcode project?

Sorry for the questions..

[2020-05-25 15:37] christophe-duc commented on #4
just download the pre-compiled kext if you don't want to recompile it.

unzip it in your favorite directory, change the ownership to root:wheel, and load the kext.

sudo chown -R root:wheel CPUTune.kext
sudo kextutils -v 6 CPUTune.kext

see the how to if you need.

[2020-05-25 15:56] syscl commented on #4
My original value was ```0x800d3008```:
[code]
@christophe-duc could you try to use the latest version (v2.0.2) and see? From the log you sent, it seems to be an old version.

[2020-05-25 16:01] syscl commented on #4
@nrdgnr Yes, but I would recommend you test it before putting into ```/L*/E*```.

Here's a precompiled [binary(v2.0.2)](https://github.com/syscl/CPUTune/files/4678021/CPUTune.kext.zip).

You can also try to enable turbo boost via ```echo 1 >/tmp/CPUTuneTurboBoostRT.conf``` to see if this enable turbo boost on your MBP.

[2020-05-25 16:12] nrdgnr commented on #4
Thank you for your answers. I will try tonight..

All the best !

[2020-05-26 07:27] ngerasimatos commented on #6
With these settings I was able to get a very decent GeekBench score:

			<key>AllowUnrestrictedFS</key>
			<false/>
			<key>CFBundleIdentifier</key>
			<string>org.syscl.driver.CPUTune</string>
			<key>EnableProcHot</key>
			<false>
			<key>EnableSpeedShift</key>
			<false/>
			<key>EnableTurboBoost</key>
			<false/>
			<key>HWPRequestConfigPath</key>
			<string>/tmp/HWPRequest.conf</string>
			<k

[2020-05-26 08:26] syscl commented on #6
@ngerasimatos Glad to see it works. So basically you disable all the features( turbo, hwp and prochot) to save battery and reduce heat right?

[2020-05-26 10:25] syscl commented on #4
Feel free to try the latest 2.0.7 which brings a new feature that can control the maximum frequency of each cores when turbo is enabled. :)

[2020-05-26 19:30] ngerasimatos commented on #6
Yup

[2020-05-26 20:52] syscl commented on #6
Got it, feel free to try some new feature in 2.0.7+ which you can also limit the maximum frequency for echo cores (RATIO LIMIT).

[2020-05-26 20:52] #6 closed

[2020-05-27 00:27] nrdgnr commented on #4
Hi , thank you for your support.

I’ve made a clean catalina install (dosdude1 method) to my 2011 mbp with defective gpu.  I tried above but probably i missed something or i didn’t understad well because super noob here..

If we consider that i put the kext file into /users/shared folder , could you give me exact order for the terminal one more time please?

Thanks

[2020-05-27 00:54] syscl commented on #4
@nrdgnr you should move the kext to ```/Library/Extensions``` when it runs as expect on your mac.

[2020-05-28 01:21] nrdgnr commented on #4
So ,

. csrutil disable √

. CPUTune.kext in /Library/Extensions folder   √

. sudo chown -R root:wheel /Library/Extensions/CPUTune.kext  √

. reboot

. kextstat (CPUTune not shown in the list ...)

I'm not sure what is missing

[2020-05-28 01:36] syscl commented on #4
@nrdgnr no need to disable the entire SIP, what you need is just
[code]
Then to install CPUTune.kext
[code]

[2020-05-28 10:46] nrdgnr commented on #4
After "sudo kextcache -i /"  current state is attached.

[2020-05-28 10:54] nrdgnr commented on #4
![IMG_20200528_131110](https://user-images.githubusercontent.com/6402387/83132802-9a50cf00-a0ea-11ea-95a6-790a7e7e2034.jpg)
![IMG_20200528_131045](https://user-images.githubusercontent.com/6402387/83132822-a177dd00-a0ea-11ea-8eb7-49a0825a6ac4.jpg)

Current state attached.

[2020-05-28 13:45] christophe-duc commented on #4
press shift while booting with the Apple logo to boot in safe mode, it will prevent the system from loading the kexts. Then remove the CPUTune.kext from /Library/Extensions (sudo rm -rf /Library/Extensions/CPUTune.kext). Reboot. This should restore your laptop to normal behavior.

[2020-05-28 16:10] nrdgnr commented on #4
Thanks to both of you guys. I already re-insalled Mac Os just in case. ( No problem , this is my old mac and i had backup).

I will follow the project anyway because looking forward to see any solution to release my mbp from limited cpu perfomance.

Good luck , All the Best !

[2020-05-29 07:53] syscl commented on #4
Thanks for the report @nrdgnr , I will take a look during the weekend. Currently doing my oncall and will reply a little bit slower

[2020-06-03 19:36] christophe-duc opened #7 "for syscl"
Hi, sorry don't know how to contact you directly to have a chat :)

I am still trying to understand why Turboboost needs to be off when battery is out, and I have analyzed some of the IOPlatformPlugins and especially X86PlatformShim, where I think the problem is coming from.

Would you be able to share what you see from the IOReg with a battery and turboboost disabled for the following keys (they

[2020-06-04 15:11] yyrikz commented on #4
Hello

The only kext that works for me is from this link (I think its the 1.9.0 version):
https://github.com/syscl/CPUTune/files/4660673/CPUTune.kext.zip (the others panic at load). I can load normally through the terminal, but when I put it in the Extensions folder, I can't boot and the system won't start. Follows images of the boot in verbose mode:

![IMG_3699](https://user-images.githubusercont

[2020-06-04 17:06] yyrikz commented on #4
Without cputune kext loaded i´m stuck at 800mhz with my 2013 MBP without battery...

[2020-06-05 01:08] syscl commented on #4
Thanks @yyrikz for the feedback! The v1.9.0 is when there's BD_PROCHOT introduced. @christophe-duc could you please take a look as well.

[2020-06-05 19:50] christophe-duc commented on #4
difficult to say what is happening, but if you want to try to see if it's prochot related, please set EnableProcHot to true in the Info.plist and see if it changes anything.

[2020-06-06 19:01] yyrikz commented on #4
Unfortunately, changing to true continued to panic at boot...
![Screen Shot 2020-06-06 at 14 43 39](https://user-images.githubusercontent.com/66429946/83952389-9f0e3500-a806-11ea-84bc-c2a124a22379.png)

[2020-06-09 10:33] Mrc527 opened #8 "Any version > 1.9 is crashing my MBP"
Hello,
I'm another MBP user with a broken battery. I'm trying to use my old MBP 13" late 2013 without any battery.

@christophe-duc I'm following your suggestion and I'm trying disabling EnableProcHot by setting it to "true". Still no luck.
![Screenshot 2020-06-09 at 12 31 07](https://user-images.githubusercontent.com/1961697/84137529-1f25dc00-aa4d-11ea-84c8-3a3101a2c0a1.png)

This is the last mes

[2020-06-09 13:55] christophe-duc commented on #8
Ok, interesting. so for you 1.9 load, but no real gains. What CPU do you have in that MBP?

I think we may need the AppleIntelInfo kext ([ AppleIntelInfo](https://github.com/Piker-Alpha/AppleIntelInfo)) to verify in what state you are in 1.9, and I need to double check what others modifications where introduced after.

I think we may need a way for us to speak real time on this project so we can f

[2020-06-09 14:36] 90111 commented on #4
Hi~
My mbp2015 15" has error with mother board temp sensor, the cpu block at 800Mhz.
I download the source and compile by Xcode, but after I tried

sudo cp -R CPUTune.kext /Library/Extensions
sudo chown -R root:wheel /Library/Extensions/CPUTune.kext
sudo touch /Library/Extensions
sudo kextcache -i /
sudo reboot

My book reboot whith five languages error, and the kext seems doesn't work, because I

[2020-06-09 14:41] christophe-duc commented on #4
Have you deactivated `csrutil`? You should be able to load it manually just by doing

`sudo kextutil -v 6 /Library/Extensions/CPUTune.kext`

and then you can check if it's really loaded with `kextstat`

[2020-06-09 14:55] 90111 commented on #4
I have already disable csrutil.
I tried sudo kextutil -v 6 CPUTune.kext before, therminal scroll very fast and then reboot, but it wil load with Apple logo without progress bar, and I have to use timemachine to reback.
Is
```sudo kextutil -v 6 /Library/Extensions/CPUTune.kext```
different from
```sudo kextutil -v 6 CPUTune.kext```
I'm a noob...

[2020-06-09 15:01] christophe-duc commented on #4
ok, you can boot and press the shift key, it will boot in safe mode and you can remove /Library/Extensions/CPUTune.kext without having to go thru timemachine.

It should load and work with kextutil first, if this step is not working I don't see a need to put into /Library/Extensions for the moment.

[2020-06-09 15:11] yyrikz commented on #4
You can post to download a kext compiled from the latest version for me to test again?

my kext only works on kextutil -v 6 CPUTune.kext, but when I install the system it doesn't boot.

[2020-06-09 15:18] #7 closed

[2020-06-09 15:38] 90111 commented on #4
Thanks for reply!
I tried
```sudo kextutil -v 6 /Library/Extensions/CPUTune.kext```
just now, and I failed again.
![image](https://user-images.githubusercontent.com/28045204/84168436-fbdd4a00-aaa9-11ea-9892-c607b7f6c696.png)
This is my the kext compile by myself.
[CPUTune.kext.zip](https://github.com/syscl/CPUTune/files/4753161/CPUTune.kext.zip)

[2020-06-09 15:44] 90111 commented on #4
I have found another kext on github, it's similar with yours.
https://github.com/bernardowilson/NoBatteryNoProblem.kext/tree/master/Contents
The NoBatteryNoProblem.kext can woks on my book, but it needs to load manually and disable turbo boost.I just want to shut down bd prochot

[2020-06-09 17:09] christophe-duc commented on #4
yes my guess is that there is some incompatibilities with CPUTune with probably older MacOS versions, but I have no way to test and Catalina seems to work well. NoBatteryNoProblem didn't work for me when I tried it, that's why I ported the code from it to CPUTune.

[2020-06-09 17:14] syscl commented on #4
@90111 and @yyrizk could you try older CPUTune to see if it can boot with the system. The CPUTune should work with older system and there maybe something need to fix.

[2020-06-09 17:16] syscl commented on #8
@Mrc527 does version earlier than 1.9.0 can be booted without any problem?

[2020-06-09 17:17] syscl commented on #7
@christophe-duc tldr, just saw this message. Are you still in need of my ioreg? I can try to attach it here

[2020-06-09 17:19] christophe-duc commented on #7
If you have time, it would be great.

I am thinking of creating a slack or discord so we can talk more interactively, any preference for you?

[2020-06-09 20:33] Mrc527 commented on #8
I did not try, I just load them once the machine is booted because it's too much time consuming rebooting in safe mode and removing the kext, without the battery.

[2020-06-09 20:44] Mrc527 commented on #8
I've found this, hope it is of any help.
  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro12,1
  Processor Name:	Dual-Core Intel Core i7
  Processor Speed:	3.1 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  L2 Cache (per Core):	256 KB
  L3 Cache:	4 MB
  Hyper-Threading Technology:	Enabled
  Memory:	16 GB
  Boot ROM Version:	191.0.0.0.0
  SMC Version (system):	2.28f7

As for the

[2020-06-09 22:54] 90111 commented on #4
@christophe-duc The version on my macbook is catalina 10.15.5, and NoBatteryNoProblem can work for me just do what the readme said
[code]
the cpu frequency can increase to 2.5Ghz, but there's no turbo boost.
@syscl can you offer me an older version CPUTune?

[2020-06-10 01:33] syscl commented on #4
@90111 @yyrikz I can use CPUTune.kext in /Library/Extension with reboot. Here's some of the log
[code]

Let's try to root cause it
Could you try to provide some log when load CPUTune via kextload?
[code]

[2020-06-10 01:41] syscl commented on #8
Thanks @Mrc527 , I'm trying to narrow down the issue. Could you please give this two kext a try and see if the issue resolve?

[CPUTune1.8.5.zip](https://github.com/syscl/CPUTune/files/4755706/CPUTune1.8.x.zip)
[CPUTune1.9.0.zip](https://github.com/syscl/CPUTune/files/4755702/CPUTune1.9.0.zip)

Thanks in advance!

[2020-06-10 01:42] syscl commented on #4
In the meantime @90111 @yyrikz give the following kext a try, I'm trying to narrow down the issue:
[CPUTune1.8.5.zip](https://github.com/syscl/CPUTune/files/4755706/CPUTune1.8.x.zip)
[CPUTune1.9.0.zip](https://github.com/syscl/CPUTune/files/4755702/CPUTune1.9.0.zip)

Thanks in advanced!

[2020-06-10 02:06] 90111 commented on #4
I'll try them after I go off work and send kext log to you. Could you please list the operations in terminal again, in case I do the wrong operation.
Thanks

[2020-06-10 02:32] syscl commented on #4
[code]

[2020-06-10 02:48] syscl commented on #7
@christophe-duc slack sounds good to me :)

[2020-06-10 12:17] 90111 commented on #4
Hi
I tried CPUTune1.9.0 and move it to /Library/Extensions.
At first it did't work, but after I use NobatteryNoproblem.kext to disable prochot, it start work because the cpu can turbo boost.
After I restart mac it can login system, only Apple logo without process bar and start with shift didn't work. At last I reback with timemachine.
Here's the log
[code]
Any ideas?

[2020-06-10 15:48] Mrc527 commented on #8
1.9.0 is working for sure, that's what I've loaded now. but I get no CPU speed increase, I've the slowest macbook on the planet I think :)

Shall I also try 1.8.5?

[2020-06-10 21:51] syscl commented on #4
@90111 CPUTune contains more control than NobatteryNoproblem. My understand is that you want to enable Turbo Boost with ProcHot disabled right? The problem is that NobatterNoproblem actually disable both turbo and prochot.

There's several things I've seen in the log:
1. Your system was under safe mode or single mode since the kext cannot run: `CPUTune @ init: not allow to run.`
2. You are trying

[2020-06-10 21:55] syscl commented on #8
@Mrc527 the reason is because when ProcHot is enabled, turbo boost will disable. And there's a restriction in the code logic that only ProcHot or TurboBoost can be enabled at the same time. And the model you have is Broadwell also does not support the HWP such that the frequency of your laptop is stuck.

Let's try a new version and see if this work.

[2020-06-10 22:27] syscl commented on #7
@christophe-duc here's the info with turbo disabled with battery
![image](https://user-images.githubusercontent.com/11594858/84325017-b747c200-ab2e-11ea-983c-0a8bd1a64fb7.png)

here's the running log
[code]

[2020-06-11 00:39] 90111 commented on #4
Yes, just like you said, I want to disable prochot only. I tried to use CPUTune under normal (just put on power button). What I found is when I use NobatteryNoproblem and CPUTune the cpu can work with prochot off and turbo on. But once I load CPUTune I can't restart system, I can't login even under safemode.
And I'm so curious why CPUTune cant't disable prochot, I only see dis/enable turbo in log

[2020-06-11 00:39] 90111 commented on #4
@syscl Yes, just like you said, I want to disable prochot only. I tried to use CPUTune under normal (just put on power button). What I found is when I use NobatteryNoproblem and CPUTune the cpu can work with prochot off and turbo on. But once I load CPUTune I can't restart system, I can't login even under safemode.
And I'm so curious why CPUTune cant't disable prochot, I only see dis/enable turbo

[2020-06-11 01:31] syscl commented on #4
@90111 there's a code logic implemented by @christophe-duc that when turbo is enabled, prochot cannot be disabled.

Could you check the current state (turbo enabled or not and proc hot enable or not) when CPUTune + NobatteryNoproblem installed and reboot at the same time? I'm thinking there's some restriction when enabling prochot+turbo at bootstrap.

We can change the code logic to support procho

[2020-06-11 01:49] 90111 commented on #4
@syscl I don't where to check the cpu prochot and turbo. I only get the state by frequency. I install NobatteryNoproblem first then the prochot and turbo disable because cpu frequency comes to the base frequency 2.5Ghz. Second I install CPUTune to enable turbo and cpu frequency can raise to 3.5Ghz.
 What troubled me is that the script NobatteryNoproblem's author maked only install NobatteryNoprobl

[2020-06-11 02:28] syscl commented on #4
@90111 Do I understand it correctly:
1. When boot into the system, install NobatteryNoproblem (NBNP)
2. Load NBNP
3. Load CPUTune

If that is the case, you still suffering slow boot from mac right?

[2020-06-11 03:38] syscl commented on #4
I took a look in the cpu backtrace frame, here's what've found from @yyrikz and @nrdgnr 's screenshot

1.9.0 with `ProcHot`: Range: 0xffffff7f8fc96000->0xffffff7f8fca1fff
[code]

2.1.1: Range 0xffffff7f8a70f000 -> 0xffffff7f8a71bfff
[code]

One thing may cause the panic will be the NVRAMUtils, which did the check at boot. Feel free to give [NoNVRAM2.1.5.zip](https://github.com/syscl/CPUTune/files/

[2020-06-11 03:44] 90111 commented on #4
@syscl
In that case cpu can work well, can turbo boot. Error happens after I reboot, because I loaded CPUTune I can't login the system, it may caused by NVRAMUtils.
Can you provide a version that can control prochot and turbo without NVRAM check?
Thanks!

[2020-06-11 03:45] syscl commented on #4
@90111 check my comment above, just attached the NoNVRAM2.1.5.

[2020-06-11 03:48] 90111 commented on #4
@syscl
Thanks, I'll try off work.

[2020-06-11 11:22] 90111 commented on #4
@syscl
I load NoNVRAM2.1.5 and mac reboot automatically. After reboot it can't login system, every time
the loading bar is down it will reboot again.

[2020-06-11 15:25] Mrc527 commented on #8
Even the  CPUTune2.1.4.zip you proposed hanged the machine, exactly the same way the other kexts did.

Any other attempt I should do?

[2020-06-11 15:36] yyrikz commented on #4
Thank you very much for taking the time to resolve this issue. I am traveling and will only be able to test on my macbook next week. Thank you.

[2020-06-12 03:39] syscl commented on #4
@90111 could you be more specific: does the NoNVRAM2.1.5 reboot instantly when you kextload the kext? Or the kext installed in /L*/E* then it hanged your system?

[2020-06-12 13:54] 90111 commented on #4
@syscl
I tried again. I only move CPUTune to desktop, is that will be ok?
After I run ```sudo kextutil -v CPUTune.kext``` system reboot instantly. I have moved IOPlatformPluginFamily.kext from /sys/lib/Extensions, will it influences CPUTune work?
Here's what the terminal out.

<img width="1050" alt="截屏2020-06-12 21 49 55" src="https://user-images.githubusercontent.com/28045204/84509864-e9a41b80-ac

[2020-06-12 20:41] syscl commented on #4
@90111 I suggest don't touch any other kext and give kextload a try. I never use kextutil to load a kext.

[2020-06-13 00:44] 90111 commented on #4
@nrdgnr
I restore IOPlatformPluginFamily.kext, remove Nobattery.kext, move CPUTune /Library/Extensions
[code]
It have a panic when boot. What should I do?

[2020-06-13 02:18] syscl commented on #4
@90111 you should remove CPUTune from safe/recovery mode. Then reboot.

[2020-06-13 08:34] nrdgnr commented on #4
Actually , those methods are not worked for me . Even i could not boot os in safe mode so i needed to restore macos.

I'm currently using nobatterynoproblem.kext and loading manually via terminal after reeboot and sleep mode all the time until a permanent solution will come up.

[2020-06-13 08:35] 90111 commented on #4
@syscl
I know I should remove first, but I can't boot in safe mode.
I think CPUTune1.9.5 may works, because only it can load without reboot instantly. But 1.9.5 can only enable Turbo, I have already type ``` echo 0 > /tmp/CPUTuneProcHotRT.conf```
the log only out something about Turbo.
Could you provide me a version based on 1.9.5 which could disable PROCHOT? In fact what I need is just when boot

[2020-06-13 13:44] yyrikz commented on #4
https://www.youtube.com/watch?v=tGq8RlTYHwA remove in recovery mode.

[2020-06-14 03:54] 90111 commented on #4
@nrdgnr
Now I use NobatteryNoprblem.kext to disable PROCHOT, but it will disable Turbo too. So I use Turbo-Boost-Switcher to enable Turbo. It may be complex but it works well on my mbp.

[2020-06-14 18:52] nrdgnr commented on #4
@90111
Thank you for the info. I'm gonna try it out tonight. Have you tried to copy NobatteryNoprblem.kext from /tmp folder to /Library/Extensions to auto-load on startup ?

[2020-06-15 04:54] 90111 commented on #4
@nrdgnr
I tried but it seems doesn't work. Can it load automatically with boot on you mac?

[2020-06-15 12:10] nrdgnr commented on #4
@90111

Nope. I couldn't load on boot..

[2020-06-15 13:50] Mrc527 commented on #8
@christophe-duc are you still interested in a chat to fix this?

[2020-06-15 13:54] christophe-duc commented on #8
Hi, sorry got busy, I created a slack channel here:

[https://join.slack.com/t/cputune/shared_invite/zt-f48vlclf-0JSwNRYMUNKwQnJtUSu7Jg](https://join.slack.com/t/cputune/shared_invite/zt-f48vlclf-0JSwNRYMUNKwQnJtUSu7Jg)

[2020-06-15 13:56] christophe-duc commented on #4
I created a slack channel here, if you find easier to discuss there:

[https://join.slack.com/t/cputune/shared_invite/zt-f48vlclf-0JSwNRYMUNKwQnJtUSu7Jg](https://join.slack.com/t/cputune/shared_invite/zt-f48vlclf-0JSwNRYMUNKwQnJtUSu7Jg)

[2020-06-19 00:21] yyrikz commented on #4
When I try to load that kext, I have KP...

Only v 1.9.0  can load without reboot instantly...

Tks.

LOG:

panic(cpu 0 caller 0xffffff8008e4aa3a): Kernel trap at 0xffffff7f8c580e2c, type 13=general protection, registers:
CR0: 0x000000008001003b, CR2: 0x000070000f6fb000, CR3: 0x000000000cf4b000, CR4: 0x00000000001626e0
RAX: 0x000000000004005f, RBX: 0x0000000000000000, RCX: 0x0000000000000774, RDX:

[2020-06-20 06:07] syscl commented on #8
I just fixed a kernel panic on platform that does not support HWP/SpeedShift. The CPUTune (v1.9.9+) reads MSR_IA32_HWP_REQUEST on no HWP CPUs, which cause the issue. Feel free to give [CPUTune.kext.zip](https://github.com/syscl/CPUTune/files/4807430/CPUTune.kext.zip) a try and let me know if it works. Thanks!

[2020-06-20 06:11] syscl commented on #4
@yyrikz @nrdgnr @90111 I've just fixed a kernel panic on platform that does not support HWP/SpeedShift. The CPUTune (v1.9.9+) reads MSR_IA32_HWP_REQUEST on no HWP CPUs, which cause the issue. Feel free to give [CPUTune v2.1.6](https://github.com/syscl/CPUTune/files/4807430/CPUTune.kext.zip) a try and let me know if it works. Thanks!

[2020-06-20 08:22] Mrc527 commented on #8
Hello @syscl, your kext seems to work!
  165    0 0xffffff7f83cc8000 0x7000     0x7000     org.syscl.driver.CPUTune (2.1.6) 05EE8DF8-2E80-3443-9E57-0C557ACA2C04 <8 6 5 3 1>

I see it loaded and the system is still running!

But I've the feeling the CPU is still capped at 1GHz, how could I check?

With AppleIntelInfo I see the following:
`AppleIntelInfo.kext v2.9 Copyright © 2012-2017 Pike R. Alpha

[2020-06-20 08:50] syscl commented on #4
@lincolnlemos @nrdgnr @christophe-duc @90111 @yyrikz root cause the KP at boot time. I will file a fix shortly, after that feel free to enjoy reboot with CPUTune.kext!

[2020-06-20 09:24] syscl commented on #4
Feel free to test the [CPUTune(v2.1.7)](https://github.com/syscl/CPUTune/files/4807644/CPUTune.v2.1.7.zip) which fixed the kernel panic at bootstrap! No more KP!

[2020-06-20 09:52] Mrc527 commented on #8
Just for historical purposes: I get the same result with 2.1.7

[2020-06-21 00:16] yyrikz commented on #4
WOW! Looks like a charm!! NO KP!!! Huge thanks!!!

[2020-06-21 02:38] syscl commented on #8
As per @Mrc527 in the [chat](https://join.slack.com/t/cputune/shared_invite/zt-f48vlclf-0JSwNRYMUNKwQnJtUSu7Jg), there's no crash anymore. Feel free to report any issue in the new version.

[2020-06-21 02:38] #8 closed

[2020-06-21 13:37] kaansoral opened #9 "Confusing Info.plist values + Suggestion: Making Readme.md noob-friendly for widespread adoption"
First of all let me say that I'm here just to disable Turbo Boost to start with, It's a craze right now, and everyone is using the closed source and paid solution, with all due respect for the marketing of that developer, we need an open source solution, and this project is a gem - It definitely deserves more attention

However, I believe the initial Readme should should make it clear what the .ke

[2020-06-21 13:54] christophe-duc commented on #9
yes - agreed it's not noob-friendly for the moment. On EnableProcHot to respond to your question, this just deactivate the BiDirectional ProcHot, which is the capability of the SMC for example to signal that something is hot. It does not deactivate the thermal protection of the CPU. In your case and with the current logic, you would need to have it to True, so that the BiDirectional ProcHot signal

[2020-06-21 17:27] syscl commented on #9
Thanks for the suggestion @kaansoral !

I totally agree we should have a better document for a much user experience, as for now, I don't have any better idea to improve it (always headache at this :P), so any suggestion/PR would be very appreciated!

As for the way to config, I have some idea about splitting the project into 'Front end' (User Interface) + 'Back end' (control the MSRs), that's why

[2020-06-24 19:09] yyrikz commented on #4
The project works on the new Big Sur OS? I was thinking of installing it when a stable version came out.

[2020-06-25 16:01] ngerasimatos opened #10 "Most recent build tuboboost is not disabled"
Even though I specifically disable turboboost in the Info.plist when I reboot turboboost is still enabled and running. Any idea why?

[2020-06-25 16:35] christophe-duc commented on #10
have you included the kext in /Library/Extensions so that CPUTune is also reloaded after the reboot?

[2020-06-25 19:48] syscl commented on #10
@ngerasimatos Could you point out which version start to see the failling? Or might you remove ```&& DEBUG_AFTER_BOOTSTRAP``` in kern_util.cpp and compile a new kext? After the compile, could you please load the kext then attach the log
[code]
Thanks?

[2020-07-20 20:16] JJGadgets opened #11 "Option to have 2 sets of settings for battery & AC + Options not updating on unload & reload"
Hey there, great work on this program, it's helped me since I have a 2015 AMD 15" MacBook Pro, and for whatever reason when the dGPU is above 65-70C, or is utilised somewhat heavily, my CPU throttles like crazy. I've verified this by having the same usage but only the integrated GPU is enabled (dGPU forced disabled using gfxCardStatus), and it results in no throttling of any sorts. Together with V

[2020-07-20 22:17] JJGadgets opened #12 "Kernel panic on 2015 AMD 15" rMBP + Catalina 10.15.5"
Funny how right after my last issue #11 where I said "I haven't kernel panicked", I got one just 2 hours later. Heh.

Was messing around with the turbo ratio limits (said rate in the other issue, whoops), and after a few minutes of my last setting, my rMBP rebooted. I have the log this time (previous panic had no log or dialog). I also caught ytop giving an error pointing to a memory allocation is

[2020-07-28 04:52] parth0072 opened #13 "Stop Working after update Mac os"
I Have updated my mac Catalina 10.15.5 to 10.15.6 and CPUTune kext stop working.
I have followed this step again but still the same result.
it stop loading kext on startup.
i have put kext in /Library/Extension
https://portugnole.blogspot.com/2020/05/running-macbook-without-battery-lets-go.html

[2020-07-30 02:09] rnt0 commented on #4
Hey, I'm trying to use it on El Captain but everytime I load the kext the system crashes.
Tried also to compile it in Xcode 8.2 without any success.

Version 2.1.7 crashes the system and versions 2.1.5 noNVRAM can't load and I dont know why.

I also tried to use NoBatteryNoProblem and it solves the problem, however the system keeps at maximum power and heats a lot.

[2020-07-30 02:10] syscl commented on #13
Hi @parth0072 , could you provide a little bit more context about the issue? Thanks!

[2020-07-30 02:11] syscl commented on #4
@rnt0 could you please open a new issue and describe your case speicifically?

[2020-07-30 02:32] rnt0 opened #14 "Crashes when using in El Capitain"
I have a macbook pro 15" 2011 i7 with a faulty GPU which has been disabled by software and power resistor removal.

Unlucky for me, I gave 3 faulty temperature sensors in the motherboard, which makes the system unusable when in stock.
I could manage to use the computer by editing IOPlatformPluginFamily.kext by entering safe mode and changing one of inside files.

Failures are at these sensors: Air

[2020-07-30 02:33] rnt0 commented on #4
Done:
https://github.com/syscl/CPUTune/issues/14

Thanks

[2020-07-30 02:49] sunrez opened #15 "Help debug a coil whine issue, might be related to advanced HWP settings"
Hi there,

First thanks for this contribution!  It makes tuning and playing with HWP easier, highly appreciated.

I wanted to ask, beyond the core HWP capability, is there any GPU or memory power management settings to tweak?

I am trying to debug a coil whine problem on a Dell XPS13 on Mojave and have traced it down to something in the power management / voltage scaling.  If the laptop sleeps, an

[2020-07-30 02:51] syscl commented on #14
Thanks, I will try to remove the stddef.h for your case and upload a newer version.

[2020-07-30 02:53] syscl commented on #15
You've raised a good point. I need to check if I can tune the GPU frequency at some point.

[2020-07-30 02:55] #4 closed

[2020-07-30 02:56] syscl commented on #12
Thanks for the detailed backframe. I will take a look.

[2020-07-30 02:58] parth0072 commented on #13
Sure.
But i tried that step few times again and its looks like it is working fine now.

Thanks

[2020-07-30 02:59] #13 closed

[2020-07-30 14:19] rnt0 commented on #14
Thanks, also an update.
NoBatteryNoProblem.kext is now working fine.
The reason that the system was at maximum power and fans wild was because of
idlehalt=0
flag at startup arguments.

However this kext don't load at startup and also after sleep.

I tried some older versions like 1.90 and 1.85 of CPUTune without any success.
It seems that something is missing in El Capitain to run it accordingly.

[2020-07-30 17:29] rnt0 commented on #14
Update:

Version 2.2.1 can compile at High Sierra and don't crash when runt in El Cap.
I think we can close the issue with the .kext file.

Thank you very much for the support.

EDIT:
Nope, crashes are back.
Shutdown cause : -62

Additionally the computer cant wake from sleep.
Trying to figure out the reason.

[2020-07-30 19:00] nk2IsHere opened #16 "MacOS 11.0 Beta 3 Crash"
Tried using your kext on apple's new beta with mbp2019 16inch.
[code]

[2020-07-31 12:29] rnt0 commented on #14
Crash Report:

[Crash.pdf](https://github.com/syscl/CPUTune/files/5006981/Crash.pdf)

[2020-08-01 07:07] JJGadgets commented on #12
No problem. Do you have any idea which feature could be causing this issue and if I can disable it for now to try and continue using CPUTune without the panics?

[2020-08-04 05:28] syscl commented on #16
Thanks for the report! Will take a look!

[2020-08-04 05:29] syscl commented on #14
Hmm, let's check what cause the issue after wake from sleep

[2020-08-04 05:30] syscl commented on #12
@JJGadgets how about commented out some code path in the readConfigAtRuntime then compile it and give it a try?

[2020-08-04 07:59] syscl commented on #16
@nk2IsHere I saw the version you are using is 2.1.7, could you try to build a latest 2.2.1 and see if it work with 11.0?

[2020-08-04 08:47] syscl commented on #16
In the meantime, could you please give v2.2.3 a try which attempt to fix the memory leak in your case. Thanks in advance!

[2020-08-04 08:48] syscl commented on #14
@rnt0  In the meantime, could you please give v2.2.3 a try which attempt to fix the memory leak in your case. Thanks in advance!

[2020-08-04 13:10] rnt0 commented on #14
I got a compilation error of divergent types between two declarations of kern_os_free, so I watched the code, and noticed that it requires only one argument so I commented the first function declaration.

![image](https://user-images.githubusercontent.com/21086910/89297585-7fdf2880-d63a-11ea-9d91-13d407744769.png)

Now i'm getting a second compile error which I can't identify the issue:

![image](

[2020-08-04 15:05] nk2IsHere commented on #16
Unfortunately, it does not compile anymore on Xcode-beta 3:
[code]

[2020-08-04 15:13] nk2IsHere commented on #16
Commenting out line 107 in `kern_util.hpp`: `void kern_os_free(void* addr, size_t nsize);`
And casting `void*` to `uint8_t*` in `kern_util.cpp`: `buffer = (uint8_t*) kern_os_malloc(sizeof(uint8_t) * (bytes + 1));`
Seems to fix compiling error, will give more info when I'll start my system with this kext.

[2020-08-04 18:45] syscl commented on #16
Thanks for pointing out! Feel free to give the latest version a try!

[2020-08-04 18:46] syscl commented on #14
@rnt0 Thanks for pointing out! Feel free to give the latest version a try which should fix the compilation issue.

[2020-08-04 19:20] rnt0 commented on #14
Added two semicolons at Kern_util.cpp at lines 96 and 100 and it compiles perfectly.

Remaining issues:
- Computer can't wake from sleep
- Frequency locks at maximum core speed (Still don't know why), tried to enable/disable turbo boost and frequency switching without success

Testing if random shutdowns still happen.

[2020-08-04 19:35] nk2IsHere commented on #16
I've built the latest version you've provided.
Unfortunately, it still crashes

[code]

If you need more info on this crash, I'll be happy to provide it

[2020-08-04 20:36] syscl commented on #14
@rnt0  thanks for pointing out, added back the semicolon in v2.2.5!

[2020-08-04 20:42] syscl commented on #16
Thanks! When did the kext crash? Crashed when wake up from sleep or even failed to load?

[2020-08-04 20:50] syscl commented on #16
An also, I would like to know what's the config you set for CPUTune.kext

[2020-08-04 21:31] nk2IsHere commented on #16
This kext is crashing on system boot.
I did not change any prefs in kext, though I will provide defaults below.
<img width="658" alt="Screenshot 2020-08-04 at 23 30 29" src="https://user-images.githubusercontent.com/30507227/89347133-7d1c1c00-d6aa-11ea-9c5e-7485f055896d.png">

[2020-08-04 23:29] syscl commented on #16
@nk2IsHere I mean did you create some config in /tmp? For example change the rate limit via /tmp/TurboRateLimit.conf?

[2020-08-05 00:01] nk2IsHere commented on #16
No, I didn't create any configs in /tmp
The kext does not load properly and causes kernel panic on system boot, so I can't even start macOS to test things
Edit: to clarify more, I've installed kext, rebooted, and got panic (nothing's changed, no files were created)

[2020-08-05 00:59] syscl commented on #16
@nk2IsHere Thanks. I would suggest try to load kext first before install it. Just curious how you install the kext on 11.0? IIRC, there's not allowed to install kext on 11.0 easily.

[2020-08-05 01:17] nk2IsHere commented on #16
I've disabled secure boot and sip and then I've just pasted it to /S/L/E and rebuilt caches using [this utility](https://github.com/chris1111/Kext-Droplet-Big-Sur).
(And added -v -cputbeta to boot-args)

Actually, I can boot a system with CPUTune only if I remove `-cputbeta` from boot args, but the kext will stay disabled.

I can't for some unknown reasons load kexts in macOS 11 (I think it is rel

[2020-08-05 06:36] syscl commented on #16
I see, so the kext cannot be loaded via kmutil due to the signature issue.

[2020-08-05 15:15] jamesmurdza commented on #12
Hi @syscl ,

I am encountering the exact same crash/memory leak as the original poster.

I tried deleting all of the code for non-turboboost features, (lines 175-234 in CPUTune.cpp) but it still causes kernel panic after about an hour.

So it seems like the memory leak is in readFileAsBytes().

Thank you!

[2020-08-05 21:50] syscl commented on #12
@jamesmurdza would you mind try the latest version? and also commented out readConfigAtRuntime?

[2020-08-06 12:26] jamesmurdza commented on #12
When I comment out everything in readConfigAtRuntime the leak does not happen. This is in the latest version (2.2.5).

I recently upgraded from 1.9.0 to 2.2.1 which is when I first noticed the leak (zalloc). The leak also happens with the old readFileNBytes function and when commenting out all the readConfig code except for turbo boost.

[2020-08-06 22:55] JJGadgets commented on #12
I will do this over the weekend hopefully, been a bit behind in a couple projects at school. I've been disabling BD PROCHOT and assigning max turbo ratios using VoltageShift's manual MSR overwrite function (so that I don't get weird short but noticeable bursts of throttling even at ~65C while doing project research), but of course if I could do it from CPUTune that'd be great.

[2020-08-06 22:57] JJGadgets commented on #12
Side note, is there any way for the CPU to *still* throttle despite disabling BD PROCHOT apart from T-Junction shutdown (100C for a 4870HQ)? Seems like unless I force the frequency like I did on Windows + ThrottleStop, there's still some other throttling that occurs rarely (can't pinpoint cause).

[2020-08-08 07:36] syscl commented on #12
Thanks @jamesmurdza! Which old version also has the leak you've mentioned?

[2020-08-08 07:37] syscl commented on #12
@JJGadgets currently you may need to do the code change. I think the problems happened at the readConfigAtRuntime function .

[2020-08-09 10:16] jamesmurdza commented on #12
Hi @syscl — That's what I would like to know as well! I will do some tests and get back to you.

[2020-08-19 08:16] jamesmurdza commented on #12
Hi @syscl, the problem seems to be related to the timer. This new code causes a memory leak:

[code]

Whereas this does not:

[code]

Do you have an idea what the reason could be?

[2020-08-19 21:10] syscl commented on #12
@jamesmurdza nice catch! timerSource was used due to sender will cause MBP8,2(SANDYBRIDGE) kernel panic. I also a little bit confused about what's the difference between sender->setTimeoutMS(updateInterval); and timerSource->setTimeout(updateInterval).

But as you pointed out, could you try to use sender->setTimeoutMS(updateInterval); to see if there's no more memory leak?

Thanks in advance!

[2020-08-22 10:58] sooxt98 opened #18 "Crash when load"
![image](https://user-images.githubusercontent.com/13378059/90954721-7282c480-e4a9-11ea-804c-8e8186fa7148.png)

[2020-08-23 02:11] syscl commented on #18
Hi, could you mind share what's the crash report/log?

Thanks!

[2020-08-23 07:49] sooxt98 commented on #18
@syscl where can I find the crash log?

[2020-08-24 12:40] codenamenam opened #19 "Kernal panic....not booting up..."
![0A53F76E-0350-4F8D-9507-22014AAC9C79](https://user-images.githubusercontent.com/54799053/91045625-21fa9b00-e652-11ea-83ab-e4e20d0a4b3b.jpeg)
What should I do? I can't boot up. Apple logo with no progress bar. Recovery mode is ok but reinstalling the mac os doesn't work. Please help me.....

[2020-08-25 00:51] #19 closed

[2020-08-26 02:08] syscl commented on #18
When you reboot the system, macOS will pop up the panic log for you.

[2020-08-26 02:13] syscl commented on #19
I think the version you are using is too old: v2.0.2. Feel free to use the latest one and report.

[2020-08-28 11:43] kocoman1 opened #20 "Can this be used to reduce clock speeds? Thanks"
Can this be used to reduce clock speeds? Thanks

[2020-08-29 16:36] sooxt98 commented on #18
@syscl i dont know why i can load now, but it crash after 5 min; im using HWP with 00002400 with bad battery, proc_hot & turbo are both disabled

<details>
<summary>Crash Log</summary>

[code]

</details>

<details>
<summary>Crash Log #2</summary>

[code]
</details>

[2020-08-29 17:02] sooxt98 commented on #18
I think the crash only happens when I enable turbo boost or set custom HWP
<details>
<summary>CPU Info</summary>

[code]

</details>

[2020-08-30 10:15] sooxt98 commented on #12
@syscl yay I think it just fixed my kp on MBP2017 non-touchbar which due to memory leak; now I can run smoothly with HWP tweak without battery on catalina;

What I did notice is timerSource making my CPU always 100%

[2020-08-30 10:23] sooxt98 commented on #18
https://github.com/syscl/CPUTune/issues/12

[2020-08-30 10:23] #18 closed

[2020-08-30 11:52] sooxt98 commented on #12
although memory leak doesn't happen anymore, but the cpu somehow still capped at 1.5 Ghz, BD_PROCHOT option does not effect on my bad battery @christophe-duc plz help me

![image](https://user-images.githubusercontent.com/13378059/91658366-38916e00-eafa-11ea-80dd-8571a2e5faee.png)

[2020-08-30 13:32] sooxt98 commented on #12
@syscl the difference between sender->setTimeoutMS(updateInterval); and timerSource->setTimeout(updateInterval). is `MS` :3 It should be `timerSource->setTimeoutMS(updateInterval)`

[2020-08-30 13:34] sooxt98 opened #21 "BD_PROCHOT option doesn't work"
although memory leak doesn't happen anymore, but the cpu somehow still capped at 1.5 Ghz, BD_PROCHOT option does not effect on my bad battery @christophe-duc plz help me

![image](https://user-images.githubusercontent.com/13378059/91658366-38916e00-eafa-11ea-80dd-8571a2e5faee.png)

_Originally posted by @sooxt98 in https://github.com/syscl/CPUTune/issues/12#issuecomment-683411123_

[2020-08-30 13:40] jamesmurdza commented on #12
@sooxt98 Good catch. It looks like setTimeout() defaults to nanoseconds instead of milliseconds. Default UpdateInterval is 1000, so instead of pausing for one second it would be pausing for one microsecond. The lack of any delay could be contributing to the memory leak. Does that seem logical?

[2020-08-30 13:56] sooxt98 commented on #12
@jamesmurdza if you read the link, the `setTimeout` default timeout is in nanoseconds which makes the read config going crazy. https://developer.apple.com/documentation/kernel/iotimereventsource/1809617-settimeout

[2020-08-31 04:08] syscl commented on #21
cc @schdt899 to take a look

[2020-08-31 04:09] syscl commented on #20
Yes,

[2020-08-31 06:07] syscl commented on #12
@sooxt98 Thanks for point it out, I corrected the setTimeout to setTimeoutMS. Let me know if this fix the issue! cc also @jamesmurdza

In the meantime, I don't know if it is my laptop's issue, I cannot generate CPUTuneCore.kext on my laptop, any idea? Sorry for the late reply since I'm on call this week.

[2020-08-31 06:48] sooxt98 commented on #12
@syscl i does fix the issue; try to delete your build folder manually at ~/Library/Developer/Xcode/DerivedData

[2020-08-31 06:56] syscl commented on #12
Thanks @sooxt98 , I removed `~/Library/Developer/Xcode/DerivedData` and compiled but still cannot see CPUTuneCore.kext. Can you see the latest CPUTuneCore.kext?

[2020-08-31 07:20] sooxt98 commented on #12
@syscl the build kext should appears inside the ~/Library/Developer/Xcode/DerivedData

[2020-08-31 07:23] syscl commented on #12
@sooxt98 Thanks! I only have CPUTuneApp and CPUTuneApp.swiftmodule. :(

[2020-08-31 12:26] sooxt98 commented on #21
If im not wrong, tweaking BD_PROCHOT wont help for broken battery, the issue persist since https://github.com/syscl/CPUTune/issues/8

As my MBP `Current Performance State Value` is capped at 1500 MHz without any reason

[code]
The only way to make it work is to find out what capped that value, or maybe direct tweaking that value could make it work

[2020-08-31 13:40] sooxt98 commented on #21
I finally figure it out, i read thru this post again and again https://portugnole.blogspot.com/2020/05/running-macbook-without-battery-lets-go.html

The main problem here is IOPlatformPluginFamily.kext, which is the main reason that throttle the speed; So it needs to be removed.

The last step is enable HWP `0x770` & disable BD_PROCHOT `0x1FC` & disable turbo boost `0x1A0`

[code]

But the problem

[2020-08-31 18:20] sooxt98 commented on #21
I tried to benchmark with turbo boost on, my mac literally goes off after reaching 87++ celcius ... Not sure why

[2020-08-31 20:37] sooxt98 commented on #21
Another weird situation, I let my Mac sleep for few times, then I use for about 30min and it become more slow and laggy and finally suddently freeze at there. The cpu are all in normal stat, the power consumption becomes not stable anymore, spiking every 3 seconds up and down; my guess is it could probably cause by removing that Intel kext 🤔

[2020-09-01 10:02] sooxt98 commented on #21
Spiking solved with BD_PROCHOT disable; If i'm not wrong enable HWP will makes macos crash.

So these two command are the perfect command

[code]

![image](https://user-images.githubusercontent.com/13378059/91836154-f6446a00-ec7c-11ea-8007-c034d821cf03.png)

## Guide for disable BD_PROCHOT
1. you need to get default hex with

[code]

2. in this case, my hex is `0x24005f` , simply replace the last

[2020-09-08 04:59] syscl commented on #21
Thanks @sooxt98 for detail procedures, sorry for the late reply due to on call last week.  So the correct step is to change the target value first then disable BD_PROCHOT right?

[2020-09-08 07:04] sooxt98 commented on #21
@syscl  yes, and also need to remove the IOPlatformPluginFamily.kext to make bd prochot works

[2020-09-08 19:29] MertSoyuberber opened #23 "A Problem with loading the CPUTune"
Hello Everyone,
I am new in the coding and I just want to disable the turboboost with CPUTune However, when ı try to load Cputune, Terminal alerts ''Kext with invalid signature (-67050) denied'' Of course some of yours can say you must be disable the SIP but my SIP is disable. How can I solve this problem ?
Thanks for everyone.

[2020-09-16 19:32] arthurptj opened #25 "Add releases for older os ?"
Having an issue building for 10.13 as the machine im on is 10.13 and thus max xcode version i can use is unable to open CPUTuneApp. If someone could release some prebuilt CPUTune.kext files for common os's that would be much appreciated and make this utility easier to access I would do it myself if was able to open the CPUTuneApp files.

[2020-09-17 18:41] #25 closed

[2020-09-17 18:41] arthurptj commented on #25
was able to update to xcode10.1 and build from there!

[2020-09-29 14:07] FrankErd opened #27 "CPUTune doesn't compile on El Capitan (10.11.6)"
Hi there,
I have a old MBP 5,5 without a working battery and I was very happy to find out about CPUTune and it's possibilities. Thank you so much for your effort, this may safe many old macs from being trashed too early!

However, on EL Capitan (latest OSX for my MBP), the latest Xcode is 8.1 and CPUTune.kext doesn't compile on 8.1: CPUTuneApp project can not be openend, due to "incompatible file

[2020-10-19 21:17] abarsotini commented on #16
Hi,

Is it possible to use CPUTune on MacOS BigSur Beta 10?

Is there a version of CPUTune already compiled for Download, Or some kind of tutorial on how to compile the source code by XCODE?

Tks.
Armando

[2020-10-20 12:26] abarsotini opened #28 "CPUTune on MacOS BigSur Beta 7"
Hi,

Is it possible to use CPUTune on MacOS BigSur Beta 7?

Is there a version of CPUTune already compiled for Download, Or some kind of tutorial on how to compile the source code by XCODE?

Tks.
Armando

[2020-11-14 05:34] nimamox commented on #28
Have you tested the extension with Big Sur?

[2020-11-14 14:38] abarsotini commented on #28
yes, it doesn't work...

[2020-11-14 16:29] nimamox commented on #28
Thanks. Did you go through all the steps, disabling csrutile and removing IOPlatformPluginFamily.kext? Could you elaborate on what the problem is? Can it even be loaded with kextload? Do you get a kernel panic?

[2020-11-23 13:49] xzre opened #29 "Frequency Multiplier"
I was following [this guide that mentioned one can also activate frequency stepping using CPU tune](https://tldrify.com/11fg). I’ll be disabling BD PROCHOT and TURBO BOOST, which is well documented here. But I was wondering if it’s possible to set multiplier of FID to an arbitrary value from let’s say 8 (**8** X 100 MHz = 800 MHz) to let’s say 17 (for 1.7 GHz)?

It was easy to tweak this using [Th

[2020-11-29 18:08] hhsk-dev opened #30 "Macbook crash"
Hello
First of all thank you for your great work.
After 2 days fiddling around with various CPUTune versions and constantly crashing macbook pro 8.2 (15inch - 2GHz i7 - 2011) with probably broken smc thats why my battery doesnt work I found out that my mbp crashes while doing heavy tasks only with full LCD brightness, thats why I wanna know if there is a way to lower CPU consumption with CPUTune t

[2020-12-11 16:43] davibennun commented on #21
@sooxt98 I think im on the same boat, My CPU is capped at 0.8ghz, it looks like the Bi-Directional Processor Hot is disabled by CPUTUNE but the throttle still persists. I also removed IOPlatformPluginFamily.kext.
<details>
<summary>AppleIntelInfo.kext</summary>
AppleIntelInfo.kext v2.9 Copyright © 2012-2017 Pike R. Alpha. All rights reserved.

Settings:
------------------------------------------
l

[2020-12-11 16:50] sooxt98 commented on #21
@davibennun if im not wrong, the binary is `4005E` which shows that u have already disabled the BD_PROCHOT

[2020-12-11 16:52] sooxt98 commented on #21
@davibennun what u need to do now is this, i saw your config, try command below
[code]
so you're now actually tweaking `0x199` to get back normal performance, its like a max speed capped of ur current cpu state (Target performance State Value)

[2020-12-11 16:59] sooxt98 commented on #21
Some updates: This method still works on big sur :3

[2020-12-11 18:37] davibennun commented on #21
@sooxt98 I got my CPU back to max performance after running the command you suggested. THANK YOU SO MUCH! I'm battling with this for over a day, I'm so happy to see my CPU working fine again.

[2020-12-26 13:58] mustafacan46 opened #31 "I need help for Macook Pro Early 2011"
Hi,

I have MacBook Pro early 2011 (MacBookPro8,2)
With Intel® Core™ i7-2820QM processor and also AMD Radeon HD 6750M
My battery was dead but I was using it as attached. But it swelled this week and I had to remove it.
So I would like to use this patch. Can you please help me ? I cannot find proper kext file for my Mac
I am on High Sierra (10.13.6)

Thanks a lot for your help

[2021-01-08 00:38] ghost commented on #28
Where can I find these instructions?

[2021-01-08 20:43] nimamox commented on #28
@ElctrShck https://portugnole.blogspot.com/2020/05/running-macbook-without-battery-lets-go.html
Please report back the results.

[2021-01-11 15:10] hhsk-dev commented on #31
you need to compile it yourself with xcode. download xcode with sdk 10.13.6, dont use latest xcode for high sierra, because it contains 10.14. sdk. then just open uppack zip you download from this site and open file CPUTune.xcworkspace, click compile, and you find compiled version in product folder.

[2021-01-26 21:38] joemac90an opened #32 "CPUTuneCore.kext stops working after entering sleep mode"
Hi, I have a MacBook Pro 13, Retina 2012, with broken lcd temp sensor and kernel task fault
I removed IOPlatform file and ran CPUTuneCore.kext (in /library/extensions/), getting back cores from 1.2ghz to normal 2.3ghz, and it works fine when booting up the computer
The problem is when I close the laptop (sleep mode), after wake up, cores are back to 1.2ghz, so I have to run again the .kext in the

[2021-02-01 13:43] joemac90an commented on #32
Hi, I solved by myself, you just have to run on terminal:
echo 1>/tmp/CPUTuneProcHotRT.conf

To make it already loaded from first run, I converted this command to an app with automator, and copied it on "startup items" on preferences, users.

[2021-03-31 02:48] mvarie commented on #21
@sooxt98

MacBook usable again.

Amazing, thank you.

[2021-03-31 02:51] sooxt98 commented on #21
btw i did found out that, performing full factory reset on macbook and upgrade to bigsur will solve the throttle problem;

[2021-03-31 02:58] mvarie commented on #21
@sooxt98 I'm on Big Sur already, with a bad battery. The slightest workload brought the CPU down to 800mhz.
Nothing worked, until I tried your solution. The MacBook now runs faster, quieter, cooler.

[2021-05-05 07:03] padremayi commented on #27
I have the same MacBook Pro and I resolved, without CPUTune, with these steps starting from OSX Yosemite and updating to OSX El Capitan.

- Remove battery
- Power-on MBP with cmd+alt+P+R pressed and release them only when you hear the Apple sound for the second time. When you reach the login window power-off the Mac
- Power-on MBP with alt pressed
- Select Recovery only if >= 10.11, otherwise crea

[2021-05-05 07:05] padremayi commented on #27
I have the same MacBook Pro and I resolved, without CPUTune, with these steps starting from OSX Yosemite and updating to OSX El Capitan.

- Remove battery
- Power-on MBP with cmd+alt+P+R pressed and release them only when you hear the Apple sound for the second time. When you reach the login window power-off the Mac
- Power-on MBP with alt pressed
- Select Recovery only if >= 10.11, otherwise crea

[2021-05-05 07:27] padremayi commented on #27
I have the same MacBook Pro and I resolved, without CPUTune, with these steps starting from OSX Yosemite and updating to OSX El Capitan.

- Remove battery
- Power-on MBP with cmd+alt+P+R pressed and release them only when you hear the Apple sound for the second time. When you reach the login window power-off the Mac
- Power-on MBP with alt pressed
- Select Recovery only if >= 10.11, otherwise crea

[2021-05-25 13:39] romeroadrian opened #33 "Error loading kext in Mojave"
I'm running 10.14.6, the build runs fine (xcode 11.3) but I get this error while loading the kext

This issue https://github.com/syscl/CPUTune/issues/2 mentions to install the Mojave SDK to fix the error but didn't solve it for me, not sure if I'm missing something besides installing the SDK package that comes in the xcode command line tools.

[2021-06-27 11:29] Nick-Z0 commented on #4
Hello everyone, I am also trying to run my macbook without a battery following the tutorial by @christophe-duc  in the first post but after spending the whole day on it without any luck, I finally managed to do it on my last try before posting here and asking for a compiled version. I just want to share what helped me to spare other people some time.

I was unable to compile it. I am on MacOS 10.1

[2021-06-27 11:59] christophe-duc commented on #4
Hi @Nick-Z0

  Thanks for the contribution, would you be ok if I include your instructions in the blogpost (giving you credit of course).

  Best regards,
Christophe.

[2021-06-27 12:24] Nick-Z0 commented on #4
Sure, thats why I wrote it.
You could also add this screenshot if you want, which is what you see when opening the .xworkspace file instead of only the .xcodeproj like is shown in yours.

Best regards,
Nick

<img width="1512" alt="steps" src="https://user-images.githubusercontent.com/39133010/123544373-a5e24f80-d75b-11eb-95c4-5b1d0c9d2a9e.png">

[2021-06-27 13:35] christophe-duc commented on #4
Thanks a lot @Nick-Z0 , I have already updated the blog post, let me know if you wish to make any changes.

Cheers!

[2021-06-27 19:38] syscl commented on #4
Thanks @Nick-Z0 for the information will update the guide, cc @schdt899 in case you have any idea the following message
![image](https://user-images.githubusercontent.com/11594858/123557225-9277ba00-d744-11eb-887e-ac8f06795b23.png)

[2021-06-29 16:11] Nick-Z0 commented on #4
@christophe-duc @syscl Hello again, I am having some issues making it stick. After a reboot the kext is loaded (I can see it in kextstat) but it is not working (CPU frequency limited).

To make it work I need to:
1.`sudo kextunload /Library/Extensions/CPUTuneCore.kext`
2.`sudo chown -R root:wheel /Library/Extensions/CPUTuneCore.kext` (this is needed, without this I couldn't make it work)
3.`sudo k

[2021-08-27 02:28] JudeDvlp commented on #28
does it work for Big Sur?

[2021-08-27 02:30] JudeDvlp commented on #4
Does anyone know if it cputune.kext works in Big Sur?

[2021-08-30 02:58] zhengyi73 commented on #28
Cannot remove IOPlatformPluginFamily.kext using the steps in https://portugnole.blogspot.com/2020/05/running-macbook-without-battery-lets-go.html, the CPU always runs under 800MHz in BigSur.

[2021-09-01 21:45] profzei opened #34 "Error loading in Darwin 12"
The `CPUTuneCore.kext` cannot load in **macOS Monterey Betas** reporting a `cputune-panic` error in `NVRAM`... how I could fix it, please?

[2021-09-02 19:30] nimamox commented on #28
Remove `IOPlatformPluginFamily.kext` by following the instructions below:
https://grafxflow.co.uk/blog/mac-os-x/delete-ioplatformpluginfamilykext-macos-big-sur

And instead of CPUTune use **[VoltageShift](https://github.com/sicreative/VoltageShift)**. For me the commands are:
[code]

[2021-09-03 00:52] zhengyi73 commented on #28
Thanks a lot. Just wonder what MSR register 0x1FC and value 0x04005e are.

[2022-01-02 13:51] Moulick commented on #21
Well, this worked for me, but now after several hours of use, somehow the `0x199` keeps going back to 800Mhz every few seconds. I have
1. `IOPlatformPluginFamily.kext` removed
2. `NoBatteryNoProblem.kext` loaded
3. `BD_PROCHOT` disabled via `./voltageshift write 0x1FC 0x24005E`
4. Now I am running a while loop to set `./voltageshift write 0x199 0x2200` every second to even make this comment.

This

[2022-01-09 18:13] thangvu97 opened #35 "[Question] Can i use this to lower the frequency of cpu on macbook pro 16 inch core i7?"

[2022-02-15 12:26] balfabb87 commented on #30
I have the same problem. Macbook throttling with external LCD. Dont know how to resolve this problem.

[2022-04-29 08:46] 3c1a opened #36 "[recommendation] "CPUTune" on MacOS Mojave (10.14.3) - MacBook Pro Late 2013 with dead battery"
Hello,

My battery stopped charging, I noticed very slow performance (CPU core max was locked 0.8 Ghz) and after some search on google I found https://portugnole.blogspot.com/2020/05/running-macbook-without-battery-lets-go.html. I had no experince with Xcode nor commands mendtioned in the guide. I followed all the steps and succesfully compiled "CPUTuneCore.kext" (in the guide it is named "CPUTune

[2022-05-26 09:14] qipengwang opened #37 "lock CPU clock speed/frequency"
How can I lock the frequency/clock speed of Intel CPU?
OS version: Latest OS X 12.4

[2022-06-07 05:30] balfabb87 commented on #36
I have the same macbook with Mojave and also have a problem when CPU stuck 0.8 Ghz.  I upload CPUTune.kext to extantion directory, open terminal and after the  first line in your instruction (sudo kextutil -v CPUTune.kext).  i get this message:''cp: CPUTune.kext: No such file or directory''.  What did i do wrong?

[2022-06-11 16:13] 3c1a commented on #36
"sudo kextutil -v CPUTune.kex" will work if "CPUTune.kext" file copied under user folder of the account.
To point the file under extensions folder; "sudo kextutil -v /Library/Extensions/CPUTune.kext"

[2022-08-31 15:59] hennigarj commented on #21
i'm also having 0x199 revert to ~0.9mhz every few minutes; no external hdd, only peripherals are keyboard+mouse+monitor. im on monterey 12.5.1, so most of this still works up to that version at least; i'm happy to help anyone resolve any issue if they have one!

does anyone have a solution for the reverting 0x199?

[2022-09-05 12:34] arkus1972 opened #38 "Crash when I run CPUTuneCore.kext"
Helo, A have Macbook Pro Mid 2010, High Sierra 10.13.6, Xcode 10.1, I downloaded and compiled from GitHub CpuTune with some issues but  Compile ran successfully (I tried build option 10.13, 10.14) . When I'm running
sudo kextutil -v CPUTuneCore.kext my Mac is reseting . I did every steps in instruction.
What wrong am I doing ?

[2022-10-27 11:27] jamesmurdza opened #39 "Kernel panic on macOS 13.0 Ventura"
System crashes and reboots when the kext is loaded on macOS 13.0.

[2022-10-30 14:15] tkit0428 opened #40 "studded.h file not found in NVRAMUtils.hpp"
I've been trying different ways to get this work but it just doesn't work
Im on El Capitan

[2022-10-30 16:08] themaxreboband opened #41 "CPUTune stopped working after a macOS update, how I fixed it"
Hey just thought I post how I got CPUTune to work in case someone is facing the same issue.

2012 Macbook Air on Catalina 10.15.7:

CPUTune worked fine after I compiled it myself. I used Xcode 11.7. downloaded from xcodereleases.com

issue occurred after a security update to 10.15.7 recently. CPUTune was still running fine (based on kextstat) but the CPU started throttling again. turns out the upd